*{
	font-family: "Roboto", sans-serif;
}
h1,h2{
	font-family: "Montserrat", sans-serif;
}
img{
	height: 250px;
	width: 250px;
	border: 5px solid cadetblue;
	border-radius: 20px;
}
#landing{
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: darkcyan;
}
#gallery{
	height: 75vh;
	background-color: cadetblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
ul{
	list-style: none;
	padding: 0;
	text-align: center;
	color: #4e5959;
}
h2{
	color: darkcyan;
	text-align: center;
}
.tools{
	height: 200px;
	border: 5px solid white;
	padding: 25px;
	margin: 20px;
	background:  #c5e0de;
	width: 75%;
	border-radius: 10px;

}